# Back to Pandas and the csv#

**Read csv and inspect result**

In [215]:
import pandas
import re

In [216]:
data = pandas.DataFrame.from_csv("enhanced.ledger.sdi.log", sep="|", index_col=None)
data.describe()

       ReportingEntity     GLBalance  GLBalanceInReportingCCY
count              0.0  1.000000e+02             1.000000e+02
mean               NaN  2.409708e+04             1.123240e+05
std                NaN  6.217487e+05             1.458348e+06
min                NaN -1.962756e+06            -3.163277e+06
25%                NaN -2.546282e+05            -2.891908e+05
50%                NaN -3.894455e+04            -3.882858e+04
75%                NaN  2.256189e+05             2.826291e+05
max                NaN  2.070709e+06             1.105048e+07

In [217]:
data.head()

,RecordType,SourceSystemId,LegalEntity,ReportingEntity,CostCentre,GLKey,GLBalanceCurrencyCode,GLBalance,BankingORTradingBook,GroupReconciliationKey,GLBalanceInReportingCCY,ReportingBalanceCurrencyCode
0,B,HUBAU,'4435',NaN,AUHBAP,06764-A,AUD,326172.28,T,AO27875,367922.137,AUD
1,B,HUBAU,'4435',NaN,AUHBAP,03404-A,AUD,-999.99,T,AS40306,-950.623,AUD
2,B,HUBAU,NaN,NaN,AUHBAP,06413-L,AUD,-251780.78,T,ZZ41246,-266514.437,AUD
3,B,HUBAU,'4435',NaN,AUHBAP,08116-L,AUD,-43457.35,T,WT99771,-49510.600,AUD
4,B,HUBAU,'4435',NaN,AUHBAP,00690-A,CNY,235924.21,T,HC43842,1236167.478,AUD

In [218]:
data_raw = pandas.DataFrame.from_csv("ledger.sdi.log", header=None, sep="|", index_col=None)
data_raw.describe()

        3             7             10
count  0.0  1.000000e+02  1.000000e+02
mean   NaN  2.409708e+04  1.123240e+05
std    NaN  6.217487e+05  1.458348e+06
min    NaN -1.962756e+06 -3.163277e+06
25%    NaN -2.546282e+05 -2.891908e+05
50%    NaN -3.894455e+04 -3.882858e+04
75%    NaN  2.256189e+05  2.826291e+05
max    NaN  2.070709e+06  1.105048e+07

In [219]:
data.RecordType.astype('category').describe()

count     97
unique     2
top        B
freq      96
Name: RecordType, dtype: object

In [220]:
import pandas_profiling
pandas_profiling.ProfileReport(data)

/Users/simonshapiro/miniconda3/envs/dataGen/lib/python3.6/site-packages/pandas_profiling/base.py:223: RuntimeWarning: divide by zero encountered in long_scalars
  'p_unique': distinct_count / count}

In [221]:
def CustomRule(rule_id:str, rule_desc:str, fn):
    def rule(row, selector:str, parameters, id_by=None):
        passed = fn(row, selector, parameters)
        res = {
            "RuleID": rule_id,
            "RuleDescription": rule_desc,
            "AttributeTested": selector,
            "ValueTested": row[selector],        
            "Result": "Passed" if passed else "Failed",
        }
        if id_by == None:
            res.update(row.to_dict())
        else:
            res.update(row[id_by].to_dict())
        return res
    return rule

def Rule_001(row, selector:str, parameters, id_by=None):
    rule_id = 'Rule_001'
    rule_desc = 'Missing value'
    passed = not pandas.isnull(row[selector])
    res = {
        "RuleID": rule_id,
        "RuleDescription": rule_desc,
        "AttributeTested": selector,
        "ValueTested": row[selector],        
        "Result": "Passed" if passed else "Failed",
    }
    if id_by == None:
        res.update(row.to_dict())
    else:
        res.update(row[id_by].to_dict())
    return res

def Rule_002(row, selector:str, parameters, id_by=None):
    rule_id = 'Rule_002'
    rule_desc = 'Value not in list'
    passed = row[selector] in parameters["list"]
    res = {
        "RuleID": rule_id,
        "RuleDescription": rule_desc,
        "AttributeTested": selector,
        "ValueTested": row[selector],        
        "Result": "Passed" if passed else "Failed",
    }
    if id_by == None:
        res.update(row.to_dict())
    else:
        res.update(row[id_by].to_dict())
    return res

def Rule_003(row, selector:str, parameters, id_by:list=None):
    rule_id = 'Rule_003'
    rule_desc = 'Pattern mismatch'
    #Set up and test regex
    pattern = parameters["pattern"]
    r = re.compile(pattern)
    result = "Passed" if r.match(str(row[selector])) else "Failed"
    res = {
        "RuleID": rule_id,
        "RuleDescription": rule_desc,
        "AttributeTested": selector,
        "ValueTested": str(row[selector]),        
        "Result": result,
    }
    if id_by == None:
        res.update(row.to_dict())
    else:
        res.update(row[id_by].to_dict())
    return res



def test_row(row:pandas.DataFrame, rule_set, id_by:list=None, verbose=False):
    results = []
    for attr, attr_rules in rule_set.items():
        for rrule in attr_rules:
            rule = rrule["rule"]
            results.append(rule(row, attr, rrule["parms"], id_by))
#    print(results)
    results = list(filter(lambda r: r["Result"] == "Failed", results)) if not verbose else results
    return results

In [222]:
def test_fn(row, selector, parameters):
    pattern = parameters["pattern"]
    r = re.compile(pattern)
    result = True if r.match(str(row[selector])) else False
    return result

CR_001 = CustomRule("CR_001", "Customer version of pattern via re", test_fn)

def lookup_in_csv(row, selector, parameters):
    # Sets up a data frame for a csv in order to fake a database table
    # !!!! Highly inefficient because it should be an api call to a refdata service
    file_name = parameters["file"]
    data = pandas.DataFrame.from_csv(file_name, sep=",", index_col=None)
    search_col = parameters["col"]
    if not pandas.isnull(row[selector]):
        passed = row[selector] in list(data[search_col])
    else: passed = False
    return passed

CR_002 = CustomRule("CR_002", "Test against reference csv", lookup_in_csv)

def test_balance_conforms_to_GLKey(row, selector, parameters):
    n = row[selector]
    gl_key = row["GLKey"]
    if not pandas.isnull(gl_key):
        last_char = gl_key[-1]
        if (last_char == 'L') and (n <= 0.0):
            result = True
        elif (last_char == "A") and (n >= 0.0):
            result = True
        else: result = False
    else: result = False
    return result
    
CR_003 = CustomRule("CR_003", "Test for sign of balance in account", test_balance_conforms_to_GLKey)

rule_set = {
    "RecordType": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["B"]}},
      ],  
    "SourceSystemId": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["HUBAU"]}},
      ],  
    "LegalEntity": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["'4435'"]}},  #This should be a call to an authatative source
        {"rule":CR_002, "parms":{"file":"company_codes.csv",
                                "col": "SaracenCode"}},  #This should be a call to an authatative source
      ],
    "GLKey": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_003, "parms": {"pattern": "[0-9]{5}-[A,L]"}}
    ],
    "GLBalance": [
        {"rule": CR_003, "parms": {}} #Number sign should follow last character of GLKey
    ],
    "BankingORTradingBook": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["B", "T"]}},
        ],
    "GroupReconciliationKey": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_003, "parms":{"pattern":"[A-Z]{2}[0-9]{5}"}},
#        {"rule":CR_001, "parms":{"pattern":"[A-Z]{2}[0-9]{5}"}},
    ],
    "GLBalanceCurrencyCode": [
        {"rule":Rule_001, "parms":{}},
        {"rule":CR_002, "parms": {
                                "file": "currency_codes.csv",
                                "col": "Alphabetic Code"
                                }}
    ],
    "ReportingBalanceCurrencyCode": [
        {"rule":Rule_001, "parms":{}},
        {"rule":CR_002, "parms": {
                                "file": "currency_codes.csv",
                                "col": "Alphabetic Code"
                                }}
    ]

}

file_results = []
for i, row in data.iterrows():
#    row_results = test_row(row, rule_set, id_by=["GLKey", "LegalEntity"], verbose=True)

    row_results = test_row(row, rule_set, verbose=False)

    if len(row_results) > 0: 
        for row in row_results:
            file_results.append(row)
dq_detail_results = pandas.DataFrame.from_records(file_results)
#dq_detail_results[["GroupReconciliationKey", "Result", "RuleDescription", "AttributeTested", "ValueTested"]]
dq_detail_results.sort_values("AttributeTested")

,AttributeTested,BankingORTradingBook,CostCentre,GLBalance,GLBalanceCurrencyCode,GLBalanceInReportingCCY,GLKey,GroupReconciliationKey,LegalEntity,RecordType,ReportingBalanceCurrencyCode,ReportingEntity,Result,RuleDescription,RuleID,SourceSystemId,ValueTested
78,BankingORTradingBook,NaN,AUHBAP,125909.03,AUD,147072.021,02523-A,CM95739,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,NaN,NaN
55,BankingORTradingBook,NaN,AUHBAP,658709.44,AUD,599259.111,08702-A,UU68287,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
54,BankingORTradingBook,NaN,AUHBAP,658709.44,AUD,599259.111,08702-A,UU68287,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
45,BankingORTradingBook,NaN,AUHBAP,984284.41,AUD,1109204.057,01312-A,JL65272,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
44,BankingORTradingBook,NaN,AUHBAP,984284.41,AUD,1109204.057,01312-A,JL65272,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
77,BankingORTradingBook,NaN,AUHBAP,125909.03,AUD,147072.021,02523-A,CM95739,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,NaN,NaN
28,BankingORTradingBook,NaN,AUHBAP,-83447.89,AUD,-96991.697,07792-L,UR27277,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
27,BankingORTradingBook,NaN,AUHBAP,-83447.89,AUD,-96991.697,07792-L,UR27277,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
26,BankingORTradingBook,NaN,AUHBAP,-101629.53,SGD,-102720.523,01237-L,XA44145,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
25,BankingORTradingBook,NaN,AUHBAP,-101629.53,SGD,-102720.523,01237-L,XA44145,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
58,GLBalance,B,NaN,1006296.84,AUD,869840.982,NaN,BB45094,'4435',B,AUD,NaN,Failed,Test for sign of balance in account,CR_003,HUBAU,1.0063e+06
50,GLBalance,T,AUHBAP,865774.47,CNY,4554868.789,03400-x,AH52566,'4435',B,xxx,NaN,Failed,Test for sign of balance in account,CR_003,HUBAU,865774
41,GLBalance,B,AUHBAP,6154.74,AUD,6492.345,03400-x,XL30617,'4435',B,AUD,NaN,Failed,Test for sign of balance in account,CR_003,HUBAU,6154.74
34,GLBalance,T,AUHBAP,255530.90,AUD,254041.056,NaN,ZF64158,'4435',B,AUD,NaN,Failed,Test for sign of balance in account,CR_003,HUBAU,255531
29,GLBalance,B,AUHBAP,-999.99,AUD,-1196.553,02713-A,DS64360,'4435',B,AUD,NaN,Failed,Test for sign of balance in account,CR_003,HUBAU,-999.99
0,GLBalance,T,AUHBAP,-999.99,AUD,-950.623,03404-A,AS40306,'4435',B,AUD,NaN,Failed,Test for sign of balance in account,CR_003,HUBAU,-999.99
12,GLBalance,B,AUHBAP,108041.28,xxx,-108041.280,NaN,KU41120,'4435',B,AUD,NaN,Failed,Test for sign of balance in account,CR_003,HUBAU,108041
16,GLBalanceCurrencyCode,T,AUHBAP,-54636.54,xxx,54636.540,01716-L,CB15565,'4435',B,AUD,NaN,Failed,Test against reference csv,CR_002,HUBAU,xxx
36,GLBalanceCurrencyCode,B,AUHBAP,148201.31,NaN,-148201.310,07098-A,DT84846,'4435',B,AUD,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
35,GLBalanceCurrencyCode,B,AUHBAP,148201.31,NaN,-148201.310,07098-A,DT84846,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
30,GLBalanceCurrencyCode,B,AUHBAP,28416.34,NaN,-28416.340,02852-A,WV59292,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
13,GLBalanceCurrencyCode,B,AUHBAP,108041.28,xxx,-108041.280,NaN,KU41120,'4435',B,AUD,NaN,Failed,Test against reference csv,CR_002,HUBAU,xxx
31,GLBalanceCurrencyCode,B,AUHBAP,28416.34,NaN,-28416.340,02852-A,WV59292,'4435',B,AUD,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
66,GLBalanceCurrencyCode,T,AUHBAP,-361573.18,NaN,361573.180,02071-L,EF87171,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
67,GLBalanceCurrencyCode,T,AUHBAP,-361573.18,NaN,361573.180,02071-L,EF87171,'4435',B,AUD,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
56,GLKey,B,NaN,1006296.84,AUD,869840.982,NaN,BB45094,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
11,GLKey,B,AUHBAP,108041.28,xxx,-108041.280,NaN,KU41120,'4435',B,AUD,NaN,Failed,Pattern mismatch,Rule_003,HUBAU,nan
10,GLKey,B,AUHBAP,108041.28,xxx,-108041.280,NaN,KU41120,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
49,GLKey,T,AUHBAP,865774.47,CNY,4554868.789,03400-x,AH52566,'4435',B,xxx,NaN,Failed,Pattern mismatch,Rule_003,HUBAU,03400-x
32,GLKey,T,AUHBAP,255530.90,AUD,254041.056,NaN,ZF64158,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,LegalEntity,B,AUHBAP,-62851.99,AUD,-67326.640,00147-L,BE71182,NaN,B,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
18,LegalEntity,B,NaN,136024.94,AUD,148970.473,09938-A,MD01866,NaN,B,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
17,LegalEntity,B,NaN,136024.94,AUD,148970.473,09938-A,MD01866,NaN,B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
37,LegalEntity,B,AUHBAP,-62851.99,AUD,-67326.640,00147-L,BE71182,NaN,B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
8,LegalEntity,T,AUHBAP,-158247.19,AUD,-184802.748,00366-L,FD88378,NaN,B,AUD,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
7,LegalEntity,T,AUHBAP,-158247.19,AUD,-184802.748,00366-L,FD88378,NaN,B,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
19,LegalEntity,B,NaN,136024.94,AUD,148970.473,09938-A,MD01866,NaN,B,AUD,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
6,LegalEntity,T,AUHBAP,-158247.19,AUD,-184802.748,00366-L,FD88378,NaN,B,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
5,RecordType,T,AUHBAP,-164781.37,AUD,-159472.647,06758-L,XA97065,'4435',NaN,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
20,RecordType,B,AUHBAP,-350354.03,AUD,-387944.266,07791-L,QV35133,'4435',X,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,X
62,RecordType,T,AUHBAP,-383314.43,AUD,-318787.384,04086-L,MK52596,'4435',NaN,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
4,RecordType,T,AUHBAP,-164781.37,AUD,-159472.647,06758-L,XA97065,'4435',NaN,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
64,RecordType,T,AUHBAP,-999.99,AUD,-945.888,04071-L,AN76509,'4435',NaN,AUD,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
65,RecordType,T,AUHBAP,-999.99,AUD,-945.888,04071-L,AN76509,'4435',NaN,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
63,RecordType,T,AUHBAP,-383314.43,AUD,-318787.384,04086-L,MK52596,'4435',NaN,AUD,NaN,Failed,Value not in list,Rule_002,HUBAU,NaN
72,ReportingBalanceCurrencyCode,T,AUHBAP,-1732829.51,AUD,-1636068.386,06534-L,VT25732,'4435',B,NaN,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
73,ReportingBalanceCurrencyCode,B,AUHBAP,329966.58,AUD,319116.954,05042-A,FH78769,'4435',B,NaN,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
71,ReportingBalanceCurrencyCode,T,AUHBAP,-1732829.51,AUD,-1636068.386,06534-L,VT25732,'4435',B,NaN,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
74,ReportingBalanceCurrencyCode,B,AUHBAP,329966.58,AUD,319116.954,05042-A,FH78769,'4435',B,NaN,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
46,ReportingBalanceCurrencyCode,B,AUHBAP,-999.99,AUD,-1034.272,04544-L,DI47733,'4435',B,NaN,NaN,Failed,Missing value,Rule_001,HUBAU,NaN
24,ReportingBalanceCurrencyCode,B,AUHBAP,-18595.00,AUD,-18762.633,04050-L,NaN,'4435',B,xxx,NaN,Failed,Test against reference csv,CR_002,HUBAU,xxx
51,ReportingBalanceCurrencyCode,T,AUHBAP,865774.47,CNY,4554868.789,03400-x,AH52566,'4435',B,xxx,NaN,Failed,Test against reference csv,CR_002,HUBAU,xxx
47,ReportingBalanceCurrencyCode,B,AUHBAP,-999.99,AUD,-1034.272,04544-L,DI47733,'4435',B,NaN,NaN,Failed,Test against reference csv,CR_002,HUBAU,NaN
70,SourceSystemId,B,AUHBAP,2070709.00,AUD,2014541.579,03759-A,WJ12480,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,HBEU,HBEU
9,SourceSystemId,T,AUHBAP,-66798.14,AUD,-57044.519,05609-L,FC05267,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,HBEU,HBEU
53,SourceSystemId,T,AUHBAP,115391.92,AUD,122627.429,02888-A,TR97919,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,NaN,NaN
52,SourceSystemId,T,AUHBAP,115391.92,AUD,122627.429,02888-A,TR97919,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,NaN,NaN
75,SourceSystemId,NaN,AUHBAP,125909.03,AUD,147072.021,02523-A,CM95739,'4435',B,AUD,NaN,Failed,Missing value,Rule_001,NaN,NaN
76,SourceSystemId,NaN,AUHBAP,125909.03,AUD,147072.021,02523-A,CM95739,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,NaN,NaN
48,SourceSystemId,B,AUHBAP,28561.71,AUD,27605.462,08452-A,QT43676,'4435',B,AUD,NaN,Failed,Value not in list,Rule_002,HBEU,HBEU

In [223]:
pandas.pivot_table(
    dq_detail_results,
    values=["RuleID"],
    index=["RuleDescription", "Result"],
    columns=["AttributeTested"],
    aggfunc='count')

                                                         RuleID            \
AttributeTested                            BankingORTradingBook GLBalance
RuleDescription                     Result
Missing value                       Failed                  5.0       NaN
Pattern mismatch                    Failed                  NaN       NaN
Test against reference csv          Failed                  NaN       NaN
Test for sign of balance in account Failed                  NaN       7.0
Value not in list                   Failed                  5.0       NaN

                                                                        \
AttributeTested                            GLBalanceCurrencyCode GLKey
RuleDescription                     Result
Missing value                       Failed                   3.0   3.0
Pattern mismatch                    Failed                   NaN   5.0
Test against reference csv          Failed                   5.0   NaN
Test for sign of balance in account Failed                   NaN   NaN
Value not in list                   Failed                   NaN   NaN

                                                                               \
AttributeTested                            GroupReconciliationKey LegalEntity
RuleDescription                     Result
Missing value                       Failed                    4.0         5.0
Pattern mismatch                    Failed                    5.0         NaN
Test against reference csv          Failed                    NaN         5.0
Test for sign of balance in account Failed                    NaN         NaN
Value not in list                   Failed                    NaN         5.0

                                                       \
AttributeTested                            RecordType
RuleDescription                     Result
Missing value                       Failed        3.0
Pattern mismatch                    Failed        NaN
Test against reference csv          Failed        NaN
Test for sign of balance in account Failed        NaN
Value not in list                   Failed        4.0

                                                                         \
AttributeTested                            ReportingBalanceCurrencyCode
RuleDescription                     Result
Missing value                       Failed                          3.0
Pattern mismatch                    Failed                          NaN
Test against reference csv          Failed                          5.0
Test for sign of balance in account Failed                          NaN
Value not in list                   Failed                          NaN


AttributeTested                            SourceSystemId
RuleDescription                     Result
Missing value                       Failed            2.0
Pattern mismatch                    Failed            NaN
Test against reference csv          Failed            NaN
Test for sign of balance in account Failed            NaN
Value not in list                   Failed            5.0