# Mock Data Creator#

**Setup Helpers**

In [90]:
import numpy as np
import datetime as dt
import pandas
import random
import re

def random_date_range(start_tuple:tuple, end_tuple:tuple, nr:int, format_string:str):
    start_date = dt.date(*start_tuple)
    end_date = dt.date(*end_tuple)
    delta_in_days = (end_date - start_date).days
    if delta_in_days != 0:
        dates = list(map(lambda x: start_date + dt.timedelta(days=np.random.randint(delta_in_days)), range(nr)))  
    else:
        dates = list(map(lambda x: start_date + dt.timedelta(days=np.random.randint(delta_in_days)), range(nr)))    
    formatted_dates = list(map(lambda x: x.strftime(format_string), dates)) 
    return formatted_dates

def corrupt_some_with(x:list, percent:float, wrong:list):
    '''
    Corrupts x with p percent of records selected from wrong
    '''
    new_x = np.array(x)
    n = int( percent / 100 * len(x))
    index = np.random.choice(len(x), n, replace=False)
    target = np.random.choice(wrong, n)
    new_x[index] = target
    return new_x

def generate_from_pattern(pattern:str):
    gen=""
    length = 0
    numbers = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
    letters = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S",\
              "T", "U", "V", "W", "X", "Y", "Z"]
    for p in pattern:
        if p == "#":
            ch = numbers[random.randint(0, len(numbers)-1)]
        elif p == "$":
            ch = letters[random.randint(0, len(letters)-1)]
        else: ch = p
        if len(ch) > 1: print(ch)
        gen = gen + ch
        length = length + 1
    if len(pattern) != len(gen): print("GOT IT!!!!!", pattern, gen, length) 
    return gen

def choose_once_from(choice):
    return choice[random.randint(0, len(choice)-1)]

def generate_float_to_precision(mx:float, p:int):
#    f = round(random.lognormvariate(0, 1)*mx /3, 2)
    f = round(random.gammavariate(1, 0.5)*mx, p)
    return f

def gen_and_flip(x):
    n = generate_float_to_precision(1e6, 2)
    if len(x) > 0:
        if x[-1] == "L": n = -n
    return n
    
def ccy_convert_with_error(x:tuple, ccy_rates_for_aud, p):
    delta = random.normalvariate(0, 0.1)
    if x[1] in ccy_rates_for_aud:
        amount = float(x[0]) * (ccy_rates_for_aud[x[1]] + delta)
    else: amount = -1 * float(x[0])
    return round(amount, p)

**Now for a real example**

![](IMG_3674.JPG)

**Set number of records**

In [91]:
record_count = 100
df = pandas.DataFrame()

**Record type**

In [92]:
RecordType = np.random.choice(["B"], record_count)
RecordType = corrupt_some_with(RecordType, 4, ["","X"])
df["RecordType"] = RecordType.astype(str)
df["RecordType"]

0     B
1     B
2     B
3     B
4     B
5     B
6     B
7     B
8     B
9     B
10    B
11    B
12
13    B
14    B
15    B
16    B
17    B
18    B
19    B
20    B
21    B
22    B
23    B
24    B
25    B
26    B
27    B
28    B
29    B
     ..
70    B
71    B
72    B
73    B
74    B
75    B
76    B
77    B
78    B
79    B
80    B
81    B
82    B
83    B
84    B
85    B
86    B
87    B
88    B
89    B
90    B
91    B
92    B
93    B
94    B
95    B
96    B
97    B
98    B
99    B
Name: RecordType, Length: 100, dtype: object

**Source System**

In [93]:
SourceSystemId = np.random.choice(["HUBAU"], record_count)
SourceSystemId = corrupt_some_with(SourceSystemId, 5, ["", "HBEU", "xxx"])
df["SourceSystemId"] = SourceSystemId.astype(str)
df.head()

  RecordType SourceSystemId
0          B          HUBAU
1          B          HUBAU
2          B          HUBAU
3          B          HUBAU
4          B          HUBAU

In [94]:
df.describe()

       RecordType SourceSystemId
count         100            100
unique          3              3
top             B          HUBAU
freq           96             95

**Moving faster**

In [95]:
LegalEntity = np.random.choice(["'4435'"], record_count)
LegalEntity = corrupt_some_with(LegalEntity, 5, [""])
df["LegalEntity"] = LegalEntity.astype(str)

ReportingEntity = np.random.choice([""], record_count)
df["ReportingEntity"] = ReportingEntity.astype(str) 

CostCentre = np.random.choice(["AUHBAP"], record_count)
CostCentre = corrupt_some_with (CostCentre, 5, ["","AHUBAP"])
df["CostCentre"] = CostCentre.astype(str)

GLKey = list(map(lambda x: "0"+generate_from_pattern("####")+"-"+choose_once_from(["A", "L"]), RecordType))
GLKey = corrupt_some_with(GLKey, 5, ["", "x9999-L", "03400-x"])
df["GLKey"] = GLKey.astype(str)

GLBalanceCurrencyCode = np.random.choice(["AUD", "SGD", "CNY"], record_count, p=[0.8, 0.1, 0.1])
GLBalanceCurrencyCode = corrupt_some_with(GLBalanceCurrencyCode, 5, ["", "xxx"])
df["GLBalanceCurrencyCode"] = GLBalanceCurrencyCode.astype(str)

GLBalance = list(map(lambda x: gen_and_flip(x), GLKey))
GLBalance = corrupt_some_with(GLBalance, 5, ["-999.990"])
df["GLBalance"] = GLBalance.astype(float)

BankingORTradingBook = np.random.choice(["B", "T"], record_count)
BankingORTradingBook = corrupt_some_with(BankingORTradingBook, 5, ["", "x"])
df["BankingORTradingBook"] = BankingORTradingBook.astype(str)

GroupReconciliationKey = list(map(lambda x: generate_from_pattern("$$#####"), RecordType))
GroupReconciliationKey = corrupt_some_with(GroupReconciliationKey, 5, ["", "AA00"])
df["GroupReconciliationKey"] = GroupReconciliationKey.astype(str)

ccy_rates_for_aud = {
    "AUD": 1,
    "CNY": 5.23,
    "SGD": 1.08
}
GLBalanceInReportingCCY = np.asarray(list(map(lambda x: ccy_convert_with_error(x, ccy_rates_for_aud, 3), \
                                           list(zip(GLBalance, GLBalanceCurrencyCode)))))
df["GLBalanceInReportingCCY"] = GLBalanceInReportingCCY.astype(float)

ReportingBalanceCurrencyCode = np.random.choice(["AUD"], record_count)
ReportingBalanceCurrencyCode = corrupt_some_with(ReportingBalanceCurrencyCode, 5, [""])
df["ReportingBalanceCurrencyCode"] = ReportingBalanceCurrencyCode.astype(str)

df

,RecordType,SourceSystemId,LegalEntity,ReportingEntity,CostCentre,GLKey,GLBalanceCurrencyCode,GLBalance,BankingORTradingBook,GroupReconciliationKey,GLBalanceInReportingCCY,ReportingBalanceCurrencyCode
0,B,HUBAU,'4435',,AUHBAP,04976-L,SGD,-999.99,T,MR63501,-1147.805,AUD
1,B,HUBAU,'4435',,AUHBAP,04289-A,AUD,313054.91,B,TG10913,292324.764,AUD
2,B,HUBAU,,,AUHBAP,05629-L,AUD,-146910.93,T,YA62918,-145932.839,AUD
3,B,HUBAU,'4435',,AUHBAP,02114-L,xxx,-378670.69,T,QN24165,378670.690,AUD
4,B,HUBAU,'4435',,AUHBAP,01870-L,AUD,-57825.70,T,NQ70988,-56026.340,AUD
5,B,HUBAU,'4435',,AUHBAP,08858-L,AUD,-157338.83,B,BN26621,-180660.840,AUD
6,B,HUBAU,'4435',,AUHBAP,00935-L,AUD,-62568.34,B,TV23832,-62223.680,AUD
7,B,HUBAU,'4435',,AUHBAP,01744-A,CNY,234265.62,T,WU75552,1243589.387,AUD
8,B,HUBAU,'4435',,AUHBAP,03537-A,SGD,923330.12,T,WQ15737,843721.814,AUD
9,B,HUBAU,'4435',,AUHBAP,08533-L,SGD,-603162.38,B,YD96793,-652151.856,AUD
10,B,HUBAU,'4435',,AUHBAP,08782-A,SGD,401005.27,B,PU26329,496369.463,AUD
11,B,HUBAU,'4435',,AUHBAP,04021-L,AUD,-51372.94,T,,-47680.462,AUD
12,,HUBAU,'4435',,AUHBAP,02154-L,AUD,-146549.19,B,VZ74385,-168941.020,AUD
13,B,HUBAU,'4435',,AUHBAP,06379-L,AUD,-746366.04,T,WD63942,-689086.738,AUD
14,B,HUBAU,'4435',,AUHBAP,07390-L,AUD,-1056277.61,T,JV45362,-1070270.318,AUD
15,B,HUBAU,'4435',,AUHBAP,01413-L,AUD,-1438357.11,T,HI95331,-1539755.513,AUD
16,B,HUBAU,'4435',,AUHBAP,00965-L,SGD,-999.99,T,WC09548,-1218.811,
17,B,HUBAU,'4435',,AHUBAP,01749-A,SGD,834115.64,B,YV49576,986780.271,AUD
18,B,HBEU,'4435',,AUHBAP,01284-L,AUD,-714258.00,T,SF44319,-623260.533,AUD
19,B,HUBAU,'4435',,,01506-L,AUD,-933853.74,B,VL12249,-972881.110,AUD
20,B,HUBAU,'4435',,AUHBAP,08094-A,AUD,280626.75,B,GG03496,292215.376,AUD
21,B,HUBAU,'4435',,AUHBAP,08350-L,SGD,-100892.65,T,WC87310,-102139.374,AUD
22,B,HUBAU,'4435',,AUHBAP,05581-L,CNY,-139007.45,T,MC03595,-713911.175,AUD
23,B,HUBAU,'4435',,AUHBAP,05265-L,SGD,-12034.03,T,KO93020,-13218.701,AUD
24,B,HUBAU,,,AUHBAP,09400-A,AUD,280265.97,B,LF79327,272299.006,AUD
25,B,HUBAU,'4435',,AUHBAP,01511-L,AUD,-913552.32,T,WB80722,-764096.139,AUD
26,B,HUBAU,'4435',,AUHBAP,07656-A,AUD,1432806.45,,SX99884,1214488.802,AUD
27,B,HUBAU,'4435',,AUHBAP,05209-A,AUD,808981.24,T,LM19754,753860.064,AUD
28,B,HUBAU,'4435',,AUHBAP,05104-A,AUD,150152.56,T,OG85507,146151.723,AUD
29,B,HUBAU,'4435',,AUHBAP,08711-L,AUD,-616409.52,T,PZ23033,-610756.051,AUD
...,...,...,...,...,...,...,...,...,...,...,...,...
70,B,HBEU,'4435',,AUHBAP,02466-L,AUD,-266861.51,x,UO08284,-250845.495,AUD
71,B,HBEU,'4435',,AUHBAP,x9999-L,SGD,-438767.56,T,TK47530,-507852.974,AUD
72,B,HUBAU,'4435',,AUHBAP,08344-A,AUD,1191382.47,T,SR63641,1133539.737,AUD
73,B,HUBAU,'4435',,AUHBAP,06279-L,AUD,-11335.33,T,OX89749,-12474.322,AUD
74,B,HUBAU,'4435',,AUHBAP,01119-A,AUD,1712327.84,B,YO49378,1363968.215,AUD
75,B,HUBAU,'4435',,AUHBAP,05273-A,AUD,907519.59,T,PE47020,836333.260,AUD
76,B,HUBAU,'4435',,AUHBAP,09268-L,AUD,-38341.87,T,KK94647,-31636.990,AUD
77,B,HUBAU,'4435',,AUHBAP,01352-L,AUD,-459677.95,B,NX49284,-468398.793,AUD
78,B,HUBAU,'4435',,AUHBAP,03400-x,AUD,625156.46,B,RS90069,686501.654,AUD
79,B,HUBAU,'4435',,AUHBAP,05766-A,AUD,282734.22,B,XT24869,292343.352,AUD
80,B,HUBAU,'4435',,AUHBAP,00986-A,AUD,207766.10,T,VZ14780,209236.330,AUD
81,B,HUBAU,'4435',,AUHBAP,09537-L,AUD,-43325.51,T,KD52332,-47452.602,AUD
82,B,HUBAU,'4435',,AUHBAP,01560-L,AUD,-118373.01,B,RV28019,-112960.381,AUD
83,B,HUBAU,'4435',,AUHBAP,09261-L,AUD,-35003.78,B,YC18452,-30084.469,AUD
84,B,HUBAU,,,AUHBAP,01123-A,AUD,1362029.90,T,UB95142,1253831.481,AUD
85,B,HUBAU,'4435',,AUHBAP,02715-L,AUD,-910560.23,T,OJ35256,-952634.775,AUD
86,B,HUBAU,'4435',,AUHBAP,03411-A,AUD,133398.53,T,LQ80060,134775.195,AUD
87,B,HUBAU,'4435',,AHUBAP,03400-x,AUD,-999.99,T,GJ57357,-1054.852,AUD
88,B,HUBAU,'4435',,AUHBAP,06643-A,CNY,434791.12,T,UI08277,2191553.034,AUD
89,B,HUBAU,'4435',,AUHBAP,02303-L,AUD,-324216.27,T,BT79379,-304664.972,AUD
90,B,HUBAU,'4435',,,01761-A,,662718.43,B,WA69655,-662718.430,AUD
91,B,HUBAU,'4435',,AUHBAP,02724-A,xxx,306669.51,T,KE23111,-306669.510,AUD
92,B,HUBAU,'4435',,AUHBAP,06363-A,AUD,999237.55,B,DH85769,879999.079,AUD
93,B,HUBAU,'4435',,AUHBAP,04846-A,AUD,577493.27,T,EJ09456,579534.816,AUD
94,B,HUBAU,'4435',,AUHBAP,08178-L,AUD,-790379.28,B,AA00,-851894.610,
95,B,HUBAU,'4435',,AUHBAP,07300-L,AUD,-542683.54,B,XJ62418,-524807.253,AUD
96,B,HUBAU,'4435',,AUHBAP,09391-L,AUD,-302999.73,T,DN54480,-264591.082,AUD
97,B,HUBAU,'4435',,AUHBAP,01349-L,AUD,-893453.02,T,QV90975,-880076.928,AUD
98,B,HUBAU,'4435',,AUHBAP,09108-L,AUD,-1026826.79,B,BI11503,-946705.794,AUD
99,B,HUBAU,'4435',,AUHBAP,05238-L,SGD,-721913.41,T,,-868025.455,AUD

![](IMG_3674.JPG)

**Create the file**

In [96]:
df.to_csv("ledger.sdi.log", header=None, sep="|", index=False)
df.to_csv("enhanced.ledger.sdi.log", sep="|", index=False)

## Wait there's more!...##

**How about formatting it as AVRO**?

**Initial Avro schema**

In [97]:
initial_schema = {
    "namespace": "example.avro",
    "type": "record",
    "name": "ledger",
    "fields": [
        {"name": "RecordType", "type": ["string", "null"]},
        {"name": "SourceSystemId", "type": ["string", "null"]},
        {"name": "LegalEntity", "type": ["string", "null"]},
        {"name": "ReportingEntity", "type": ["string", "null"]},
        {"name": "CostCentre", "type": ["string", "null"]},
        {"name": "GLKey", "type": ["string", "null"]},
        {"name": "GLBalanceCurrencyCode", "type": ["string", "null"]},
        {"name": "GLBalance", "type": ["float", "null"]},
        {"name": "BankingORTradingBook", "type": ["string", "null"]},
        {"name": "GroupReconciliationKey", "type": ["string", "null"]},
        {"name": "GLBalanceInReportingCCY", "type": ["float", "null"]},
        {"name": "ReportingBalanceCurrencyCode", "type": ["string", "null"]}
    ]
}

**Write Avro with initial schema**

In [98]:
import avro.schema
import json
from avro.datafile import DataFileReader, DataFileWriter
from avro.io import DatumReader, DatumWriter

In [99]:
schema = avro.schema.Parse(json.dumps(initial_schema))
writer = DataFileWriter(open("ledger.sdi.avro", "wb"), DatumWriter(), schema)

for _, row in df.iterrows():
    dict = row.to_dict()
    writer.append(dict)
writer.close()

**Read the avro file**

In [100]:
reader = DataFileReader(open("ledger.sdi.avro", "rb"), DatumReader())
avro_data = []  # the whole structure isn't needed in memory
for data in reader:
    avro_data.append(data)
reader.close()
df1 = pandas.DataFrame.from_records(avro_data)
df1.head()

,BankingORTradingBook,CostCentre,GLBalance,GLBalanceCurrencyCode,GLBalanceInReportingCCY,GLKey,GroupReconciliationKey,LegalEntity,RecordType,ReportingBalanceCurrencyCode,ReportingEntity,SourceSystemId
0,T,AUHBAP,-999.989990,SGD,-1147.805054,04976-L,MR63501,'4435',B,AUD,,HUBAU
1,B,AUHBAP,313054.906250,AUD,292324.750000,04289-A,TG10913,'4435',B,AUD,,HUBAU
2,T,AUHBAP,-146910.937500,AUD,-145932.843750,05629-L,YA62918,,B,AUD,,HUBAU
3,T,AUHBAP,-378670.687500,xxx,378670.687500,02114-L,QN24165,'4435',B,AUD,,HUBAU
4,T,AUHBAP,-57825.699219,AUD,-56026.339844,01870-L,NQ70988,'4435',B,AUD,,HUBAU

In [101]:
df1.describe()

          GLBalance  GLBalanceInReportingCCY
count  1.000000e+02             1.000000e+02
mean  -2.902462e+03             2.351032e+04
std    5.755556e+05             9.566086e+05
min   -1.438357e+06            -3.381477e+06
25%   -3.159479e+05            -3.904775e+05
50%   -1.790660e+04            -2.563372e+04
75%    2.457657e+05             2.923294e+05
max    1.712328e+06             6.393410e+06

In [102]:
df1.shape

(100, 12)

In [103]:
df1.GLKey.describe()

count         100
unique         98
top       x9999-L
freq            2
Name: GLKey, dtype: object

# Back to Pandas and the csv#

**Read csv and inspect result**

In [104]:
data = pandas.DataFrame.from_csv("enhanced.ledger.sdi.log", sep="|", index_col=None)
data.describe()

       ReportingEntity     GLBalance  GLBalanceInReportingCCY
count              0.0  1.000000e+02             1.000000e+02
mean               NaN -2.902463e+03             2.351032e+04
std                NaN  5.755556e+05             9.566086e+05
min                NaN -1.438357e+06            -3.381477e+06
25%                NaN -3.159479e+05            -3.904775e+05
50%                NaN -1.790660e+04            -2.563372e+04
75%                NaN  2.457657e+05             2.923294e+05
max                NaN  1.712328e+06             6.393410e+06

In [105]:
data.head()

,RecordType,SourceSystemId,LegalEntity,ReportingEntity,CostCentre,GLKey,GLBalanceCurrencyCode,GLBalance,BankingORTradingBook,GroupReconciliationKey,GLBalanceInReportingCCY,ReportingBalanceCurrencyCode
0,B,HUBAU,'4435',NaN,AUHBAP,04976-L,SGD,-999.99,T,MR63501,-1147.805,AUD
1,B,HUBAU,'4435',NaN,AUHBAP,04289-A,AUD,313054.91,B,TG10913,292324.764,AUD
2,B,HUBAU,NaN,NaN,AUHBAP,05629-L,AUD,-146910.93,T,YA62918,-145932.839,AUD
3,B,HUBAU,'4435',NaN,AUHBAP,02114-L,xxx,-378670.69,T,QN24165,378670.690,AUD
4,B,HUBAU,'4435',NaN,AUHBAP,01870-L,AUD,-57825.70,T,NQ70988,-56026.340,AUD

In [106]:
data_raw = pandas.DataFrame.from_csv("ledger.sdi.log", header=None, sep="|", index_col=None)
data_raw.describe()

        3             7             10
count  0.0  1.000000e+02  1.000000e+02
mean   NaN -2.902463e+03  2.351032e+04
std    NaN  5.755556e+05  9.566086e+05
min    NaN -1.438357e+06 -3.381477e+06
25%    NaN -3.159479e+05 -3.904775e+05
50%    NaN -1.790660e+04 -2.563372e+04
75%    NaN  2.457657e+05  2.923294e+05
max    NaN  1.712328e+06  6.393410e+06

In [107]:
data.RecordType.astype('category').describe()

count     98
unique     2
top        B
freq      96
Name: RecordType, dtype: object

In [108]:
import pandas_profiling
pandas_profiling.ProfileReport(data)

/Users/simonshapiro/miniconda3/envs/dataGen/lib/python3.6/site-packages/pandas_profiling/base.py:223: RuntimeWarning: divide by zero encountered in long_scalars
  'p_unique': distinct_count / count}

In [109]:
def Rule_001(row, selector:str, parameters, id_by=None):
    rule_id = 'Rule_001'
    rule_desc = 'Missing value'
    passed = not pandas.isnull(row[selector])
    res = {
        "RuleID": rule_id,
        "RuleDescription": rule_desc,
        "AttributeTested": selector,
        "ValueTested": row[selector],        
        "Result": "Passed" if passed else "Failed",
    }
    if id_by == None:
        res.update(row.to_dict())
    else:
        res.update(row[id_by].to_dict())
    return res

def Rule_002(row, selector:str, parameters, id_by=None):
    rule_id = 'Rule_002'
    rule_desc = 'Value not in list'
    passed = row[selector] in parameters["list"]
    res = {
        "RuleID": rule_id,
        "RuleDescription": rule_desc,
        "AttributeTested": selector,
        "ValueTested": row[selector],        
        "Result": "Passed" if passed else "Failed",
    }
    if id_by == None:
        res.update(row.to_dict())
    else:
        res.update(row[id_by].to_dict())
    return res

def Rule_003(row, selector:str, parameters, id_by=None):
    rule_id = 'Rule_003'
    rule_desc = 'Pattern mismatch'
    #Set up and test regex
    pattern = parameters["pattern"]
    r = re.compile(pattern)
    result = "Passed" if r.match(str(row[selector])) else "Failed"
    print(result, str(row[selector]))
    res = {
        "RuleID": rule_id,
        "RuleDescription": rule_desc,
        "AttributeTested": selector,
        "ValueTested": str(row[selector]),        
        "Result": result,
    }
    if id_by == None:
        res.update(row.to_dict())
    else:
        res.update(row[id_by].to_dict())
    return res


def test_row(row:df, rule_set, id_by:list=None, verbose=False):
    results = []
    for attr, attr_rules in rule_set.items():
        for rrule in attr_rules:
            rule = rrule["rule"]
            results.append(rule(row, attr, rrule["parms"], id_by))
#    print(results)
    results = list(filter(lambda r: r["Result"] == "Failed", results)) if not verbose else results
    return results

rule_set = {
    "RecordType": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["B"]}},
      ],  
    "SourceSystemId": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["HUBAU"]}},
      ],  
    "LegalEntity": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["'4435'"]}},  #This should be a call to an authatative source
      ],  
    "BankingORTradingBook": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_002, "parms":{"list":["B", "T"]}},
        ],
    "GroupReconciliationKey": [
        {"rule":Rule_001, "parms":{}},
        {"rule":Rule_003, "parms":{"pattern":"[A-Z]{2}[0-9]{5}"}},
    ]
}

file_results = []
for i, row in data.iterrows():
#    row_results = test_row(row, rule_set, id_by=["GLKey", "LegalEntity"], verbose=True)

    row_results = test_row(row, rule_set, verbose=False)

    if len(row_results) > 0: 
        for row in row_results:
            file_results.append(row)
print("=============")
dq_detail_results = pandas.DataFrame.from_records(file_results)
dq_detail_results[["GroupReconciliationKey", "Result", "RuleDescription", "AttributeTested", "ValueTested"]]

Passed MR63501
Passed TG10913
Passed YA62918
Passed QN24165
Passed NQ70988
Passed BN26621
Passed TV23832
Passed WU75552
Passed WQ15737
Passed YD96793
Passed PU26329
Failed nan
Passed VZ74385
Passed WD63942
Passed JV45362
Passed HI95331
Passed WC09548
Passed YV49576
Passed SF44319
Passed VL12249
Passed GG03496
Passed WC87310
Passed MC03595
Passed KO93020
Passed LF79327
Passed WB80722
Passed SX99884
Passed LM19754
Passed OG85507
Passed PZ23033
Passed NQ28481
Passed IM18879
Passed PH17376
Passed TI58644
Passed RL78003
Passed UL80999
Passed DI39996
Passed BH64192
Failed AA00
Passed HB17687
Passed XX01727
Passed CS63835
Passed GD51510
Passed TM55152
Passed AM77252
Passed GP56692
Passed IJ50294
Passed WG31030
Passed HF18244
Passed UY50450
Passed XR06324
Passed KK96358
Passed PD95084
Passed JV30096
Passed FN22695
Passed QT52630
Passed EP92674
Passed HO27397
Passed CJ10699
Passed LW72893
Passed LH66386
Passed FM02526
Passed PA30651
Failed AA00
Passed AX84496
Passed SG34429
Passed EZ86558
Passed CW37511
Passed DU58823
Passed YH27658
Passed UO08284
Passed TK47530
Passed SR63641
Passed OX89749
Passed YO49378
Passed PE47020
Passed KK94647
Passed NX49284
Passed RS90069
Passed XT24869
Passed VZ14780
Passed KD52332
Passed RV28019
Passed YC18452
Passed UB95142
Passed OJ35256
Passed LQ80060
Passed GJ57357
Passed UI08277
Passed BT79379
Passed WA69655
Passed KE23111
Passed DH85769
Passed EJ09456
Failed AA00
Passed XJ62418
Passed DN54480
Passed QV90975
Passed BI11503
Failed nan
=============

,GroupReconciliationKey,Result,RuleDescription,AttributeTested,ValueTested
0,YA62918,Failed,Missing value,LegalEntity,NaN
1,YA62918,Failed,Value not in list,LegalEntity,NaN
2,NaN,Failed,Missing value,GroupReconciliationKey,NaN
3,NaN,Failed,Pattern mismatch,GroupReconciliationKey,nan
4,VZ74385,Failed,Missing value,RecordType,NaN
5,VZ74385,Failed,Value not in list,RecordType,NaN
6,SF44319,Failed,Value not in list,SourceSystemId,HBEU
7,LF79327,Failed,Missing value,LegalEntity,NaN
8,LF79327,Failed,Value not in list,LegalEntity,NaN
9,SX99884,Failed,Missing value,BankingORTradingBook,NaN
10,SX99884,Failed,Value not in list,BankingORTradingBook,NaN
11,UL80999,Failed,Missing value,RecordType,NaN
12,UL80999,Failed,Value not in list,RecordType,NaN
13,AA00,Failed,Pattern mismatch,GroupReconciliationKey,AA00
14,CS63835,Failed,Value not in list,RecordType,X
15,GD51510,Failed,Value not in list,RecordType,X
16,GD51510,Failed,Missing value,BankingORTradingBook,NaN
17,GD51510,Failed,Value not in list,BankingORTradingBook,NaN
18,WG31030,Failed,Value not in list,BankingORTradingBook,x
19,PD95084,Failed,Missing value,LegalEntity,NaN
20,PD95084,Failed,Value not in list,LegalEntity,NaN
21,FN22695,Failed,Value not in list,SourceSystemId,xxx
22,QT52630,Failed,Value not in list,SourceSystemId,HBEU
23,EP92674,Failed,Missing value,BankingORTradingBook,NaN
24,EP92674,Failed,Value not in list,BankingORTradingBook,NaN
25,AA00,Failed,Missing value,LegalEntity,NaN
26,AA00,Failed,Value not in list,LegalEntity,NaN
27,AA00,Failed,Pattern mismatch,GroupReconciliationKey,AA00
28,UO08284,Failed,Value not in list,SourceSystemId,HBEU
29,UO08284,Failed,Value not in list,BankingORTradingBook,x
30,TK47530,Failed,Value not in list,SourceSystemId,HBEU
31,UB95142,Failed,Missing value,LegalEntity,NaN
32,UB95142,Failed,Value not in list,LegalEntity,NaN
33,AA00,Failed,Pattern mismatch,GroupReconciliationKey,AA00
34,NaN,Failed,Missing value,GroupReconciliationKey,NaN
35,NaN,Failed,Pattern mismatch,GroupReconciliationKey,nan

In [110]:
pandas.pivot_table(
    dq_detail_results,
    values=["RuleID"],
    index=["RuleDescription", "Result"],
    columns=["AttributeTested"],
    aggfunc='count')

                                       RuleID                         \
AttributeTested          BankingORTradingBook GroupReconciliationKey
RuleDescription   Result
Missing value     Failed                  3.0                    2.0
Pattern mismatch  Failed                  NaN                    5.0
Value not in list Failed                  5.0                    NaN


AttributeTested          LegalEntity RecordType SourceSystemId
RuleDescription   Result
Missing value     Failed         5.0        2.0            NaN
Pattern mismatch  Failed         NaN        NaN            NaN
Value not in list Failed         5.0        4.0            5.0

In [111]:
pattern = '[0-9]{2}'
source = '99'
r = re.compile(pattern)
"Passed"if r.match(source) else "Failed"

'Passed'

#####